themes {
	rose-pine-moon {
		bg "#232136"
		fg "#e0def4"
		red "#eb6f92"
		green "#3e8fb0"
		blue "#9ccfd8"
		yellow "#f6c177"
		magenta "#c4a7e7"
		orange "#fe640b"
		cyan "#ea9a97"
		black "#393552"
		white "#e0def4"
	}
	rose-pine-dawn {
		bg "#faf4ed"
		fg "#575279"
		red "#b4637a"
		green "#286983"
		blue "#56949f"
		yellow "#ea9d34"
		magenta "#907aa9"
		orange "#fe640b"
		cyan "#d7827e"
		black "#f2e9e1"
		white "#575279"
	}
	rose-pine {
		bg "#191724"
		fg "#e0def4"
		red "#eb6f92"
		green "#31748f"
		blue "#9ccfd8"
		yellow "#f6c177"
		magenta "#c4a7e7"
		orange "#fe640b"
		cyan "#ebbcba"
		black "#26233a"
		white "#e0def4"
	}
}
