[submodule "Neovim/.config/nvim"]
	path = Neovim/.config/nvim
	url = https://github.com/Enhancifire/Neovim.git
[submodule "Startpage"]
	path = Startpage
	url = https://github.com/Enhancifire/Start-Page.git
[submodule "Tmux/.tmux/plugins/tpm"]
	path = Tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
