#entry {
  padding: .25em;
}

#entry:selected {
  background-color: #bf616a;
}

window {
  background-color: rgba(26, 27, 38, 60);
  color: #ffffff;
  border-radius: 8px;
  margin: 16px 16px;
}

*{
  font-family: monospace;
  font-size: 1.04em;
}
/**/
/* /* window{ */ */
/* /*   background-color: #7C818C; */ */
/* /* } */ */
/**/
#input {
  margin: 8px;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid grey;
  background-color: #383C4A;
  color: white;
  font-size: 2em;
}
/**/
/* /* search icon */ */
/* #input:first-child > :nth-child(1) { */
/*   min-height: 1.25em; */
/*   min-width: 1.25em; */
/*   background-image: -gtk-icontheme('open-menu-symbolic'); */
/* } */
/**/
/* /* clear icon */ */
/* #input:first-child > :nth-child(4){ */
/*   min-height: 1.25em; */
/*   min-width: 1.25em; */
/*   background-image: -gtk-icontheme('window-close-symbolic'); */
/* } */
/**/
/* #inner-box { */
/*   background-color: #383C4A; */
/* } */
/**/
/* #outer-box { */
/**/
/*   margin: 2px; */
/*   padding:0px; */
/*   background-color: #383C4A; */
/* } */
/**/
/* #text { */
/*   padding: 5px; */
/*   color: white; */
/* } */
/**/
/* #entry:selected { */
/*   background-color: #5291e2; */
/* } */
/**/
/* #text:selected { */
/* } */
/**/
/* #scroll { */
/* } */
/**/
/* #img { */
/* } */
/**/
/* /* Give color to even items */ */
/* /* #entry:nth-child(even){ */ */
/* /*     background-color: #404552; */ */
/* /* } */ */
